.header {
  display: flex;
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 1px solid #00000011;

  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: navy;
    text-decoration: none;

    .logo {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
  }
  .nav-section {
    flex: 9;
    display: flex;

    .navbar {
      flex: 1.2;
      display: flex;
      justify-content: space-around;

      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        padding: 0px 15px;
        color: #000;
        background-color: #fff;
        border-radius: 6px;

        &:hover {
          background-color: #185abc22;
          color: #185abc;
        }

        .drop {
          width: 12px;
          height: 12px;
          margin-left: 10px;
        }
      }
      .active {
        background-color: #185abc22;
        color: #185abc;
      }
    }
    .login-buttons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
