.filled-btn {
  width: auto;
  letter-spacing: 0.5px;
  padding: 8px 20px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #185abc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    color: #185abc;
    border: 1px solid #185abc;
  }
}

.outlined-btn {
  width: auto;
  letter-spacing: 0.5px;
  padding: 8px 20px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  color: #185abc;
  border: 1px solid #185abc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #185abc;
    color: #fff;
    border: none;
  }
}
